html, body {
    margin: 0;
    padding: 0;
    background-color: tan;
    color: beige;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;

    padding: 8px;
}

#library {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    
    padding: 8px;
    background-color: brown;
    border: 4px solid rgb(96, 24, 24);
    border-radius: 25px;
}